div.shop {
    width: 100%;
    height: 100%;
}

section.buyzone {
    width: 100%;
    height: 80%;
}

#seedZone, #potZone {
    width: 40%;
    height: 100%;
    background-color: #cccccc;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

#seedZone .seedItem {
    width: 100%;
    height: 146px;
    box-sizing: border-box;
    border: 3px solid white;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.7);
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

#seedZone .seedItem:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

#seedZone .seedItem .seedImg {
    width: 145px;
    height: 140px;
    background-color: white;
    float: left;
}

#seedZone .seedItem .seedDesc {
    width: 320px;
    height: 140px;
    float: left;
}

#seedZone .seedItem .seedDesc div {
    background-color: yellow;
    width: 100%;
    height: 30%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

#seedZone .seedItem .seedDesc div:last-child {
    background-color: #cccccc;
}

.seedDesc button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
}

.seedDesc button:active {
    color: orangered;
}

#potZone .potItem {
    width: 100%;
    height: 146px;
    box-sizing: border-box;
    border: 3px solid white;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.7);
    transition-duration: 75ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

#potZone .potItem:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

#potZone .potItem .potImg {
    width: 145px;
    height: 140px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 40px;
    float: left;
}

#potZone .potItem .potDesc {
    width: 320px;
    height: 140px;
    float: left;
}

#potZone .potItem .potDesc div {
    background-color: yellowgreen;
    width: 100%;
    height: 30%;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

#potZone .potItem .potDesc div:last-child {
    background-color: #cccccc;
}

.potDesc button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
}

.potDesc button:active {
    color: orangered;
}

section.buyzone section {
    float: left;
    width: 20%;
    height: 100%;
}

div#landZone, div#waterZone, div#paperZone {
    background-color: white;
    width: 100%;
    height: 33.3%;
    position: relative;
}

div#landZone img, div#waterZone img, div#paperZone img {
    width: 100%;
    height: 100%;
}

div#landZone button, div#waterZone button, div#paperZone button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 24px;
    width: 100px;
    height: 60px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
}

div#landZone button:active, div#waterZone button:active, div#paperZone button:active {
    color: orangered;
}

section.billZone {
    width: 100%;
    height: 20%;
}

section.billZone .sum1 {
    width: 100%;
    height: 35%;
    background-color: #ccffcc;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 26px;
    box-sizing: border-box;
    border: 2px solid white;
}

section.billZone .sum2 {
    width: 100%;
    height: 35%;
    background-color: #ffffb3;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 26px;
    box-sizing: border-box;
    border: 2px solid white;
}

section.billZone .operationZone {
    width: 100%;
    height: 30%;
}

.operationZone #btn_left_box, .operationZone #btn_right_box {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

.operationZone #btn_left_box button, .operationZone #btn_right_box button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    outline: none;
    color: white;
}

.operationZone #btn_left_box button {
    background-color: #4d4d4d;
}

.operationZone #btn_right_box button {
    background-color: #4d4d4d;
}

.operationZone #btn_left_box button:active, .operationZone #btn_right_box button:active {
    color: orangered;
}