.warehouse {
    width: 100%;
    height: 100%;
}

.warehouse .titleBar {
    width: 100%;
    height: 5%;
    background-color: yellow;
}

.warehouse .titleBar .leftTitle, .warehouse .titleBar .rightTitle {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.warehouse .placeholder {
    width: 100%;
    height: 75%;
}

.warehouse .placeholder .leftHouse, .warehouse .placeholder .rightHouse {
    width: 50%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    border: 5px solid rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffe066;
    margin: 0!important;
    padding: 0!important;
}

.warehouse .placeholder .leftHouse li, .warehouse .placeholder .rightHouse li {
    background-color: white;
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

.warehouse .placeholder .leftHouse li:hover, .warehouse .placeholder .rightHouse li:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.warehouse .placeholder .leftHouse li .child1, .warehouse .placeholder .rightHouse li .child1 {
    width: 145px;
    height: 140px;
    float: left;
}

.warehouse .placeholder .leftHouse li .child2, .warehouse .placeholder .rightHouse li .child2 {
    width: 440px;
    height: 100%;
    float: left;
}

.warehouse .placeholder .leftHouse li .child2 div {
    background-color: #e6e6e6;
    width: 100%;
    height: 30%;
    margin-bottom: 1%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.warehouse .placeholder .rightHouse li .child2 div {
    background-color: #e6e6e6;
    width: 100%;
    height: 13%;
    margin-bottom: 1%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
}

.warehouse .summaryBar {
    width: 100%;
    height: 5%;
    text-align: center;
}

.warehouse .summaryBar button {
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 26px;
    outline: none;
    color: white;
    background-color: #4d4d4d;
}

.warehouse .summaryBar button:active {
    color: orangered;
}

#ownedPot {
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    position: relative;
}

#ownedPot .ownedPotTitle {
    width: 10%;
    height: 100%;
    background-color: yellow;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    float: left;
}

#ownedPot ul {
    height: 100%;
    width: 90%;
    background-color: white;
    float: left;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    /* need to set the ul's li items to display horizontally and scroll horizontally.
    So here need to set the father ul to white-space: nowrap */
}

#ownedPot ul li {
    width: 145px;
    height: 100%;
    margin-right: 5px;
    margin-left: 10px;
    /* float: left; */ /* Not effective */
    /* need to set the ul's li items to display horizontally and scroll horizontally.
    So here need to set the son li to display: inline-block. float:left cannot be used on son. If using float then the 
    inline-block will lose effect, then all the li(s) will never display horizontally. Messy thing!!! */
    display: inline-block;
}

#ownedPot ul li img {
    width: 144px;
    height: 60px;
}

#ownedPot ul li div {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}